$teal: #009688;
$teal-dark: #00695C;
$teal-light: #80CBC4;
$teal-lightish: #4DB6AC;
$light-grey: #FAFAFA;

$mapHeight: 600px;

#map {
  height: $mapHeight;
}

#main {
  margin-top: 70px;
}

.navbar-custom {
  background-color: $teal;
  border-color: $teal-dark;
}

.navbar-custom .navbar-brand {
  color: $light-grey;
}

.list-group {
  margin-bottom: 10px;
}

.list-group-item.active {
   background-color: $teal-light;
   border-color: $teal-lightish;
 }

.list-group-item.active:hover {
  background-color: $teal-lightish;
  border-color: $teal;
}

.river-item {
  text-align: center;
}

#riverWell {
  height: $mapHeight;
  overflow: auto;
  margin-bottom: 10px;
}

li.selected {
  background-color: $teal-light;
  border-color: $teal-lightish;
  color: #fff;
}

div.btn-group {
  display: inline-block;
  margin-top: 10px;
}

div.row-center {
  text-align: center;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
  background-color: $teal-light;
  border-color: $teal-lightish;
}

.btn-primary:hover {
  background-color: $teal-lightish;
  border-color: $teal;
}